.gdio-searchbar__button {
    -unity-text-align: middle-left;
    min-width: 40px;
}

Label.gdio-highlight:hover {
    color: rgb(54, 136, 163);
}

Foldout.gdio-highlight:hover > Toggle > .unity-foldout__input > Label.unity-foldout__text {
    color: rgb(54, 136, 163);
}

.gdio-highlight-search {
    color: rgb(54, 136, 163);
}

.gdio-hide-members .gdio-members-foldout {
    display: none;
}
